# Extracting player information

- For a comparision, the 1st match has an id='335982' and it's scoreboard can be found in the [cricinfo page.](https://www.espncricinfo.com/series/8048/scorecard/335982/royal-challengers-bangalore-vs-kolkata-knight-riders-1st-match-indian-premier-league-2007-08)

- The ball-by-ball data can be downloaded from (https://cricsheet.org/downloads/).

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os, glob, yaml, pickle
import datetime

from utils import get_match_list
from print_scorecard import print_scorecard

data_dir='../datasets/ipl/yaml/'

In [2]:
match_id='335982'
df_bat, df_bowl=print_scorecard(match_id+'.yaml', data_dir=data_dir)
display(df_bat.head(2) )
display(df_bowl.head(2) )

Royal Challengers Bangalore  vs  Kolkata Knight Riders , On  2008-04-18
---------------------------------------------------------------
Toss 			 Royal Challengers Bangalore Decided to field
Team Batting First	 Kolkata Knight Riders
Result 			 Kolkata Knight Riders won by  140 runs
Player of the Match	 BB McCullum
---------------------------------------------------------------

,batsman,0s,1s,2s,3s,4s,5s,6s,Runs,BF,NO,Team,Against,Win,Toss,team-total,season,date,match-id
0,SC Ganguly,8,2,0,0,2,0,0,10,12,False,Kolkata Knight Riders,Royal Challengers Bangalore,True,False,222,2008,2008-04-18,335982
1,BB McCullum,23,22,9,0,10,0,13,158,73,True,Kolkata Knight Riders,Royal Challengers Bangalore,True,False,222,2008,2008-04-18,335982

,bowler,O,M,R,W,0s,1s,2s,3s,4s,...,WD,NB,Team,Against,Win,Toss,team-total,season,date,match-id
0,P Kumar,4,0,38,0,14,3,2,0,3,...,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,False,True,222,2008,2008-04-18,335982
1,Z Khan,4,0,38,1,8,8,3,0,3,...,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,False,True,222,2008,2008-04-18,335982

In [3]:
def create_database():
    years=range(2008, 2021, 1)
    #years = [2008]
    df_bat_all  = pd.DataFrame({}, columns=['batsman', '0s', '1s', '2s', '3s', '4s', '5s', '6s',
                                            'Runs', 'BF', 'NO', 'Team', 'Against', 'Win',
                                            'Toss','team-total', 'season', 'date', 'match-id' ])
    
    df_bowl_all = pd.DataFrame({}, columns=['bowler', 'O', 'M', 'R', 'W',
                                            '0s', '1s', '2s', '3s', '4s', '5s', '6s',
                                            'WD', 'NB', 'Team', 'Against', 'Win', 'Toss',
                                            'team-total', 'season', 'date', 'match-id'] )
    for year in years:
        df_match=get_match_list(year)
        match_ids = df_match['match_id']
        
        for match_id in match_ids:
            df_bat, df_bowl =print_scorecard(match_id+'.yaml', data_dir=data_dir)
            df_bat_all  = pd.concat([df_bat_all,  df_bat] , ignore_index=True)
            df_bowl_all = pd.concat([df_bowl_all, df_bowl], ignore_index=True)

        print (year,'Done.')
        
    # save the dataframe
    with open('./database/batting_record.df', 'wb') as fo:
        pickle.dump(df_bat_all, fo)

    with open('./database/bowling_record.df', 'wb') as fo:
        pickle.dump(df_bowl_all, fo)

        
#create_database()

In [4]:
df=pickle.load(open('./database/batting_record.df', 'rb'))
player='AB de Villiers'
dfp = df[ (df['batsman']==player) ]
dfp.tail()

,batsman,0s,1s,2s,3s,4s,5s,6s,Runs,BF,NO,Team,Against,Win,Toss,team-total,season,date,match-id
11608,AB de Villiers,3,1,0,0,2,0,0,9,6,False,Royal Challengers Bangalore,Delhi Capitals,False,True,137,2020,2020-10-05,1216519
11692,AB de Villiers,2,0,0,0,0,0,0,0,2,False,Royal Challengers Bangalore,Chennai Super Kings,True,True,169,2020,2020-10-10,1216525
11746,AB de Villiers,11,7,5,0,5,0,6,73,33,True,Royal Challengers Bangalore,Kolkata Knight Riders,True,True,194,2020,2020-10-12,1216540
11797,AB de Villiers,3,2,0,0,0,0,0,2,5,False,Royal Challengers Bangalore,Kings XI Punjab,False,True,171,2020,2020-10-15,1216531
11825,AB de Villiers,5,8,2,1,1,0,6,55,22,True,Royal Challengers Bangalore,Rajasthan Royals,True,False,179,2020,2020-10-17,1216522

In [5]:
df = pickle.load(open('./database/bowling_record.df', 'rb'))
#player = 'A Kumble'
player = 'DW Steyn'
dfp = df[ (df['bowler']==player) ]
dfp['6s'].sum()

52